<div class="container mt-5">
  <h1 class="display-5">About Us</h1>
  <h2 class="mb-0">Welcome to The Jungle</h2>
  <h3 class="mb-4">Where you can find any plants!</h3>
  <p class="lead">Our passion for plants goes beyond just selling them; it's about creating a community of plant enthusiasts who share in the wonder of nature's creations.</p>
  <h3 class="mb-4">Our Story</h3>
  <p class="lead">Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. What's the point of going out? We're just going to wind up back here anyway. Whoa, slow down there, maestro. There's a *New* Mexico? No children have ever meddled with the Republican Party and lived to tell about it.</p>
  <p class="lead">Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care about! I'm allergic to bee stings. They cause me to, uh, die. He didn't give you gay, did he? Did he?! Hi!. <em> I'm Troy McClure.</em> You may remember me from such self-help tapes as "Smoke Yourself Thin" and "Get Some Confidence, Stupid!</p>
</div>
